In [1]:
import pandas as pd
import numpy as pd

In [2]:
import pandas as pd
import numpy as np

In [3]:
dict={
    "Name":['Rajesh','Anubhav','Rahul','suresh'],
    "Marks":[76,46,97,49],
    "City":['GGN','UP','DELHI','UP']
}

In [4]:
df=pd.DataFrame(dict)

In [5]:
df

      Name  Marks   City
0   Rajesh     76    GGN
1  Anubhav     46     UP
2    Rahul     97  DELHI
3   suresh     49     UP

In [6]:
df.to_csv('name.csv')

In [7]:
df.to_csv('name.csv',index=False)

In [8]:
df.head(2)

      Name  Marks City
0   Rajesh     76  GGN
1  Anubhav     46   UP

In [9]:
df

      Name  Marks   City
0   Rajesh     76    GGN
1  Anubhav     46     UP
2    Rahul     97  DELHI
3   suresh     49     UP

In [10]:
df.describe

<bound method NDFrame.describe of       Name  Marks   City
0   Rajesh     76    GGN
1  Anubhav     46     UP
2    Rahul     97  DELHI
3   suresh     49     UP>

In [11]:
df..index=['first','second']

SyntaxError: invalid syntax (2859068892.py, line 1)

In [12]:
df.index=['first','second']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 2 elements

In [ ]:
df

In [13]:
        df..index=['first','second','third','fourth']

SyntaxError: invalid syntax (1726168035.py, line 1)

In [14]:
df.index=['first','second','third','fourth']

In [15]:
df

           Name  Marks   City
first    Rajesh     76    GGN
second  Anubhav     46     UP
third     Rahul     97  DELHI
fourth   suresh     49     UP