In [14]:
import pandas as pd
import numpy as np
df = pd.read_excel('orders_data.xlsx')
df.head(2)

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
0,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer

In [15]:
df['buyer'][0]

'Mr.'

In [16]:
df['buyer'][0]='Rajesh'
df['buyer'][0]

C:\Users\rajes\AppData\Local\Temp\ipykernel_12868\1622410323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['buyer'][0]='Rajesh'

'Rajesh'

In [17]:
df['buyer']

0          Rajesh
1           Minam
2      yatipertin
3           aciya
4         Susmita
          ...
166        Shahin
167    Sharmistha
168      shashank
169        Jayeta
170         Varun
Name: buyer, Length: 171, dtype: object

In [18]:
ser =pd.Series(np.random.rand(5))
df1 =pd.DataFrame(np.random.rand(5))
ser,df1

(0    0.232868
 1    0.979955
 2    0.817348
 3    0.377150
 4    0.457324
 dtype: float64,
           0
 0  0.888933
 1  0.294900
 2  0.406936
 3  0.638743
 4  0.927143)

In [19]:
type(ser),type(df1)

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [20]:
df1[0][0]='hello'

In [21]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
df1.columns

RangeIndex(start=0, stop=1, step=1)

In [23]:
df1.to_numpy()

array([['hello'],
       [0.2948999565779109],
       [0.406936385662345],
       [0.6387427094996211],
       [0.927142839165922]], dtype=object)

In [40]:
df1[0][1]=1.2

In [41]:
df1

          0
0       1.2
1       1.2
2  0.406936
3  0.638743
4  0.927143

In [31]:
df1.sort_index(axis=1,ascending=False)

          0
0       1.2
1    0.2949
2  0.406936
3  0.638743
4  0.927143

In [32]:
df1

          0
0       1.2
1    0.2949
2  0.406936
3  0.638743
4  0.927143

In [48]:
newdf=df
copydf=df.copy()

In [55]:
copydf.loc['','buyer']='Buyer test'

In [61]:
copydf.loc[[1,2],:]

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status,3
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer,NaN
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer,NaN

In [66]:
df

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
0,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Rajesh,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...,...
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [72]:
df.loc[(df['quantity']>2)]

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
39,404-8031085-1381943,"Fri, 26 Nov, 2021, 9:12 pm IST",Kangana,"NEW DELHI,",DELHI,SKU: 54-D265-B74K,Set of 2 Pure Leather Block Print Round Jewelr...,4,NaN,₹84.96,NaN,Returned to seller
97,171-6267238-3345112,"Thu, 18 Nov, 2021, 9:55 pm IST",Geetika,"GURUGRAM,",HARYANA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,NaN,Delivered to buyer
117,402-6563725-6606725,"Tue, 21 Dec, 2021, 4:11 pm IST",Mitra,"Kolkata,",WEST BENGAL,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,3,"₹3,897.00",₹133.34,NaN,Delivered to buyer
121,402-9977250-1302757,"Tue, 21 Dec, 2021, 4:15 pm IST",Mitra,"CHENNAI,",TAMIL NADU,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,3,"₹3,897.00",₹241.90,NaN,Delivered to buyer
136,171-7361479-0297146,"Fri, 10 Dec, 2021, 11:38 am IST",Amol,"PUNE,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,4,"₹1,796.00",₹84.96,NaN,Delivered to buyer
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer

In [79]:
copydf.drop([1],axis=0,inplace=True)
copydf

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status,3
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer,NaN
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer,NaN
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer,NaN
5,406-9292208-6725123,"Thu, 17 Jun, 2021, 9:12 pm IST",Subinita,"HOWRAH,",WEST BENGAL,SKU: HH-FOWV-5YWO,Women's Trendy Pure Leather Clutch Purse | Lea...,1,₹200.00,NaN,NaN,Delivered to buyer,NaN
6,404-5794317-7737924,"Thu, 12 Aug, 2021, 8:03 pm IST",shailendra,"ORAI,",UTTAR PRADESH,SKU: TQ-OE6K-9DIK,Ultra Slim 100% Pure Leather Men's Wallet with...,1,NaN,NaN,Cash On Delivery,Returned to seller,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer,NaN
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer,NaN
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer,NaN
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer,NaN
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer,NaN

In [80]:
copydf

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status,3
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer,NaN
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer,NaN
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer,NaN
5,406-9292208-6725123,"Thu, 17 Jun, 2021, 9:12 pm IST",Subinita,"HOWRAH,",WEST BENGAL,SKU: HH-FOWV-5YWO,Women's Trendy Pure Leather Clutch Purse | Lea...,1,₹200.00,NaN,NaN,Delivered to buyer,NaN
6,404-5794317-7737924,"Thu, 12 Aug, 2021, 8:03 pm IST",shailendra,"ORAI,",UTTAR PRADESH,SKU: TQ-OE6K-9DIK,Ultra Slim 100% Pure Leather Men's Wallet with...,1,NaN,NaN,Cash On Delivery,Returned to seller,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer,NaN
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer,NaN
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer,NaN
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer,NaN
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer,NaN

In [82]:
newdf.reset_index(drop=True,inplace=True)

In [88]:
newdf['cod'].isnull

<bound method Series.isnull of 0                   NaN
1                   NaN
2                   NaN
3      Cash On Delivery
4                   NaN
             ...
166    Cash On Delivery
167                 NaN
168                 NaN
169    Cash On Delivery
170                 NaN
Name: cod, Length: 171, dtype: object>

In [91]:
newdf.dropna()

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
7,405-8702211-4054722,"Wed, 29 Sept, 2021, 2:55 pm IST",Pratima,"BAREILLY,",UTTAR PRADESH,SKU: S1-A92Q-JU3X,100% Pure Leather Shantiniketan Clutch Purse: ...,1,₹399.00,₹84.96,Cash On Delivery,Delivered to buyer
12,402-5321389-8685152,"Sat, 16 Oct, 2021, 10:11 am IST",Blessan,"COONOOR,",TAMIL NADU,SKU: 94-TSV3-EIW6,Bright and Colorful Shantiniketan Leather Elep...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
16,405-6918787-5602743,"Wed, 25 Aug, 2021, 7:48 am IST",Mosin,"MAHALINGPUR,",KARNATAKA,SKU: TQ-OE6K-9DIK,Ultra Slim 100% Pure Leather Men's Wallet with...,1,₹649.00,₹81.42,Cash On Delivery,Delivered to buyer
19,402-8678022-3083562,"Fri, 1 Oct, 2021, 11:34 pm IST",Heena,"MUMBAI,",MAHARASHTRA,SKU: S1-A92Q-JU3X,100% Pure Leather Shantiniketan Clutch Purse: ...,1,₹399.00,₹84.96,Cash On Delivery,Delivered to buyer
25,402-2054361-4513137,"Mon, 6 Sept, 2021, 12:46 pm IST",Ramesh,"JALESWAR,",ODISHA,SKU: TQ-OE6K-9DIK,Ultra Slim 100% Pure Leather Men's Wallet with...,1,₹649.00,₹60.18,Cash On Delivery,Delivered to buyer
27,404-9680499-3084319,"Fri, 29 Oct, 2021, 6:58 am IST",Manisha,"PUNEpune,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
28,406-3518585-4093925,"Mon, 20 Sept, 2021, 6:41 pm IST",m,"NEW DELHI,",DELHI,SKU: 0M-RFE6-443C,Set of 2 Pure Leather Block Print Round Jewelr...,1,₹399.00,₹84.96,Cash On Delivery,Delivered to buyer
32,407-0864859-8033111,"Fri, 29 Oct, 2021, 2:19 pm IST",Deepshikha,"HYDERABAD,",TELANGANA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
34,403-0713090-0169940,"Thu, 28 Oct, 2021, 3:54 pm IST",sayani,"KOLKATA,",WEST BENGAL,SKU: 9S-GE8P-RIR4,Pure 100% Leather Block Print Rectangular Jewe...,1,₹250.00,₹47.20,Cash On Delivery,Delivered to buyer
38,407-0539421-4069143,"Mon, 1 Nov, 2021, 11:33 am IST",Parmeet,"JAMMU,",JAMMU & KASHMIR,SKU: 0M-RFE6-443C,Set of 2 Pure Leather Block Print Round Jewelr...,1,₹399.00,₹84.96,Cash On Delivery,Delivered to buyer
45,404-6735919-2773947,"Sun, 31 Oct, 2021, 11:28 pm IST",swagata13051978,"SILCHAR,",ASSAM,SKU: 9S-GE8P-RIR4,Pure 100% Leather Block Print Rectangular Jewe...,1,₹250.00,₹60.18,Cash On Delivery,Delivered to buyer
50,403-1631300-1893901,"Sat, 13 Nov, 2021, 4:47 pm IST",saravanan,"KARAIKKUDI,",TAMIL NADU,SKU: WR-ANCX-U28C,Bright and Colorful Shantiniketan Leather Elep...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
53,406-5723826-0192341,"Fri, 22 Oct, 2021, 2:57 pm IST",Sailee,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
58,402-0413922-0000337,"Thu, 11 Nov, 2021, 6:16 am IST",Hemant,"Surat,",GUJARAT,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹178.18,Cash On Delivery,Delivered to buyer
66,402-6701060-6592325,"Fri, 1 Oct, 2021, 11:35 pm IST",Heena,"MUMBAI,",MAHARASHTRA,SKU: 1T-RAUZ-UZKO,Women's Pure Leather Jhallar Clutch Purse with...,1,₹399.00,₹84.96,Cash On Delivery,Delivered to buyer
77,402-6614720-2475547,"Sun, 19 Sept, 2021, 7:52 pm IST",Anjana,"PALAI,",KERALA,SKU: 9S-GE8P-RIR4,Pure 100% Leather Block Print Rectangular Jewe...,1,₹250.00,₹84.96,Cash On Delivery,Delivered to buyer
85,406-0702616-4123501,"Sun, 29 Aug, 2021, 11:28 pm IST",Mahalakshmi,"CHENNAI,",TAMIL NADU,SKU: 9W-AS6W-6O9X,Pure 100% Leather Block Print Rectangular Jewe...,1,₹250.00,₹81.42,Cash On Delivery,Delivered to buyer
92,171-5917046-2682765,"Thu, 7 Oct, 2021, 10:04 am IST",Anku,"GUWAHATI,",ASSAM,SKU: TQ-OE6K-9DIK,Ultra Slim 100% Pure Leather Men's Wallet with...,1,₹649.00,₹60.18,Cash On Delivery,Delivered to buyer
101,171-5463316-4433940,"Thu, 27 Jan, 2022, 5:31 pm IST",Vadim,"NEW DELHI,",DELHI,SKU: GP-RMI4-GJ6L,Bright & Colorful Shantiniketan Leather Piggy ...,1,₹549.00,₹84.96,Cash On Delivery,Delivered to buyer
103,171-1925470-1621156,"Tue, 25 Jan, 2022, 11:42 am IST",Deepali,"JODHPUR,",RAJASTHAN,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
107,403-2108547-9065907,"Thu, 10 Feb, 2022, 11:22 pm IST",RishuGarg,CHANDIGARH,"CHANDIGARH,",SKU: 54-D265-B74K,Set of 3 Pure Leather Block Print Round Jewelr...,1,₹475.00,₹84.96,Cash On Delivery,Delivered to buyer
108,405-0789055-6741110,"Fri, 25 Feb, 2022, 8:44 pm IST",Harshini,"SECUNDERABAD,",TELANGANA,SKU: W4-JQ2J-ZUF2,100% Pure Leather Shantiniketan Clutch Purse: ...,1,₹399.00,₹84.96,Cash On Delivery,Delivered to buyer
112,405-0868310-6684357,"Fri, 17 Dec, 2021, 3:57 pm IST",Monali,"SIWAN,",BIHAR,SKU: X2-PMD5-PL2D,Bright and Colorful Handmade Shantiniketan Lea...,1,₹549.00,₹60.18,Cash On Delivery,Delivered to buyer
116,407-3924859-8788324,"Mon, 6 Dec, 2021, 4:22 pm IST",kritika,"NAVI MUMBAI,",MAHARASHTRA,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,Cash On Delivery,Delivered to buyer
135,171-3733329-6916359,"Fri, 10 Dec, 2021, 5:53 pm IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
142,402-3108828-3083537,"Wed, 29 Dec, 2021, 8:44 am IST",RAJAT,PUNJAB,"MOHALI,",SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
144,171-1659664-7877932,"Wed, 23 Feb, 2022, 9:29 pm IST",Saba,"AMROHA,",UTTAR PRADESH,SKU: CR-6E69-UXFW,Bright and Colorful Shantiniketan Leather Elep...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
149,402-1369108-5988348,"Thu, 9 Dec, 2021, 11:29 am IST",Mariatta,"Kodambakkam, Chennai,",TAMIL NADU,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
157,407-6814126-3628337,"Wed, 8 Dec, 2021, 11:54 pm IST",Aarti,"BILIMORA,",GUJARAT,SKU: S1-A92Q-JU3X,100% Pure Leather Shantiniketan Clutch Purse: ...,1,₹399.00,₹84.96,Cash On Delivery,Delivered to buyer
158,171-3007462-1281169,"Thu, 17 Feb, 2022, 9:14 pm IST",Captain,"KOLKATA,",WEST BENGAL,SKU: 78-ZYA1-UMZH,Bright and Colorful Horse Shaped Piggy Coin Ba...,1,₹449.00,₹47.20,Cash On Delivery,Delivered to buyer
163,171-7565385-5722750,"Thu, 20 Jan, 2022, 10:57 am IST",Vadim,"NEW DELHI,",DELHI,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,Cash On Delivery,Delivered to buyer
166,171-2829978-1258758,"Mon, 13 Dec, 2021, 11:30 am IST",Shahin,"MUMBAI,",MAHARASHTRA,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,3,"₹1,347.00",₹84.96,Cash On Delivery,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer

In [94]:
newdf.drop_duplicates(subset='ship_city',keep='last')

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
5,406-9292208-6725123,"Thu, 17 Jun, 2021, 9:12 pm IST",Subinita,"HOWRAH,",WEST BENGAL,SKU: HH-FOWV-5YWO,Women's Trendy Pure Leather Clutch Purse | Lea...,1,₹200.00,NaN,NaN,Delivered to buyer
6,404-5794317-7737924,"Thu, 12 Aug, 2021, 8:03 pm IST",shailendra,"ORAI,",UTTAR PRADESH,SKU: TQ-OE6K-9DIK,Ultra Slim 100% Pure Leather Men's Wallet with...,1,NaN,NaN,Cash On Delivery,Returned to seller
9,171-7954707-4463549,"Mon, 9 Aug, 2021, 4:47 pm IST",A.Jayaprada,"Bhilai,",CHHATTISGARH,SKU: NU-CKZ5-4O49,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",NaN,NaN,Delivered to buyer
...,...,...,...,...,...,...,...,...,...,...,...,...
165,402-1808225-2809140,"Sat, 25 Dec, 2021, 4:03 pm IST",User,"Solan,",Himachal Pradesh,SKU: S1-A92Q-JU3X,100% Pure Leather Shantiniketan Clutch Purse: ...,1,₹399.00,₹84.96,NaN,Delivered to buyer
167,402-3045457-5360311,"Wed, 1 Dec, 2021, 12:18 pm IST",Sharmistha,"DEHRADUN,",UTTARAKHAND,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹114.46,NaN,Delivered to buyer
168,408-2260162-8323567,"Thu, 9 Dec, 2021, 6:55 pm IST",shashank,"Durg,",CHHATTISGARH,SKU: SB-WDQN-SDN9,Traditional Block-Printed Women's 100% Pure Le...,1,"₹1,299.00",₹105.02,NaN,Delivered to buyer
169,403-5664951-8941100,"Wed, 23 Feb, 2022, 12:43 am IST",Jayeta,"KOLKATA,",WEST BENGAL,SKU: N8-YFZF-P74I,Stylish and Sleek Multiple Pockets 100 Percent...,1,"₹1,499.00",₹80.24,Cash On Delivery,Delivered to buyer
170,402-4845680-8041921,"Sun, 26 Dec, 2021, 6:21 pm IST",Varun,"MUMBAI,",MAHARASHTRA,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,₹84.96,NaN,Delivered to buyer

In [95]:
newdf.shape

(171, 12)

In [102]:
newdf['cod'].value_counts(dropna=True)

Cash On Delivery    47
Name: cod, dtype: int64

In [107]:
newdf['order_no'].mean()

TypeError: Could not convert 405-9763961-5211537404-3964908-7850720171-8103182-4289117405-3171677-9557154402-8910771-1215552406-9292208-6725123404-5794317-7737924405-8702211-4054722171-1434812-8061163171-7954707-4463549403-3146183-4920328404-4406917-9569950402-5321389-8685152403-4385783-1379508408-9557300-6760347402-4179660-9937142405-6918787-5602743406-1403658-9371527407-2082022-4357107402-8678022-3083562402-1146202-1933154402-6406639-0884351171-6105173-4790734406-9975868-3000368403-7876698-8356365402-2054361-4513137405-0695973-7365161404-9680499-3084319406-3518585-4093925404-6883107-8347508404-8244254-9274747407-2330390-9441923407-0864859-8033111402-0249599-9225933403-0713090-0169940403-7215480-9090745403-7217325-7956317405-8876256-0913907407-0539421-4069143404-8031085-1381943407-6856738-1928342405-4776641-5401922407-7181943-1725128405-8481932-1229966404-9914447-5578722404-6735919-2773947407-1526604-7803547405-1981073-5970737171-5705929-2195543405-1111150-1834754403-1631300-1893901402-5621007-4266725404-7918321-6528342406-5723826-0192341406-5208445-6151521404-5515061-6165137406-4504814-5756357403-7364233-8411519402-0413922-0000337171-1070115-6195560407-5532335-4314768402-6806027-8773139407-5896934-9005133403-3892336-2999521406-9458224-2717157408-4317100-7692318402-6701060-6592325405-0978927-9443544407-4805322-7498725406-6432664-4853932407-8790284-0125124402-4834476-0320360171-2479820-8391565408-0358198-6688308171-2095880-5548309403-3087278-4501963406-6774677-4553965402-6614720-2475547405-4735668-0393136408-7282076-9330761403-9782961-0644358402-3054284-1226754403-4722970-7103536407-8029342-1162714406-9976360-8935534406-0702616-4123501408-6770537-3774707403-4274611-4049927407-7598159-3965161403-0124463-2966723403-5745034-5441137404-1364960-1146735171-5917046-2682765408-9069501-2731541403-3308024-9965128405-7861224-4380325406-9977841-6948310171-6267238-3345112405-3304794-2671568404-3621013-4015566407-9473791-2643568171-5463316-4433940406-8570816-2548324171-1925470-1621156404-9528809-9494717404-3361026-0027538408-1794879-4342714403-2108547-9065907405-0789055-6741110171-4664401-7903525406-1051099-3807565408-9435263-6891514405-0868310-6684357407-2925312-1225952405-0209265-6273962403-0102354-2668323407-3924859-8788324402-6563725-6606725408-3173592-1224340406-6970801-9059504407-7313002-2067527402-9977250-1302757404-7450458-9882702402-4007700-9289906408-9442756-9477100403-7552858-2817166404-9326436-3517161405-8264291-1183552403-9089686-7304307403-3882329-3552343407-4026447-7131527171-5230421-3237921403-2445664-7853913407-8892478-3863557171-3919731-3769907171-3733329-6916359171-7361479-0297146408-9200041-8517139408-3276798-6731502405-7588425-0136360406-6034782-6293117403-1376026-4537157402-3108828-3083537171-5110229-2797921171-1659664-7877932404-5325305-3342738408-4117801-6732368405-0409316-6263510407-0369001-6370762402-1369108-5988348405-7352232-5348320171-8930811-8770760404-5892855-1521926403-0543607-1044310171-4338001-7654754408-5721047-6522728402-5940762-2914747407-6814126-3628337171-3007462-1281169403-8215280-0912306402-2278272-1998728405-3911719-8266724406-5755913-6641938171-7565385-5722750402-8044719-8889119402-1808225-2809140171-2829978-1258758402-3045457-5360311408-2260162-8323567403-5664951-8941100402-4845680-8041921 to numeric